body {
  transition: all 1s ease-in-out;
}

/* Global Classes */
.hiddenContent {
  /* display: none; */
  opacity: 0;
  pointer-events: none;
  position: absolute;
  visibility: hidden;
}

.new_hiddenContent {
  opacity: 0;
  pointer-events: none;
}

.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.centeredObject {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttonFix {
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

/* Menu */
#Menu_Container {
  position: absolute;
  z-index: 1;
  border-radius: 15px;
  height: 90px;
  width: 90px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  background: linear-gradient(135deg,
      rgb(0, 0, 0),
      magenta,
      rgb(191, 0, 255));
  -webkit-user-select: none;
  user-select: none;
}

#Menu_Container::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  border-radius: inherit;
  background: linear-gradient(60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%));
  background-size: 300% 300%;
  animation: moveGradient 3s alternate infinite;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.Rotating_background {
  position: absolute;
  height: 200%;
  background: conic-gradient(magenta, aqua, black, cyan, magenta);
  width: 200%;
  top: -50%;
  left: -50%;
  --deg: -360deg;
  animation: spin 85s linear infinite;
  z-index: -3;
}

#caption {
  position: absolute;
  color: rgb(49, 4, 48);
  text-shadow: 0 -1px 4px #00c8ff, 0 -2px 10px rgb(255, 0, 255),
    0 -10px 20px #ff8000, 0 -18px 40px #f00;
  animation: Menu_loading_M 2s ease-in-out infinite;
  z-index: 1;
}

#Menu_Container h2 {
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: upright;
  scale: 3;
  top: 38%;
  left: 6%;
  letter-spacing: 16px;
  color: rgb(255, 0, 212);
  text-shadow: 0 -1px 4px #00c8ff, 0 -2px 10px rgb(255, 0, 255),
    0 -10px 20px #ff8000, 0 -18px 40px #f00;
}

/* 5 Menu Buttons */
.button {
  position: relative;
  height: 50px;
  width: 150px;
  right: -10px;
  top: -10px;
  background: radial-gradient(circle at center,
      rgba(11, 173, 210, 0.6) 15%,
      rgb(10, 40, 89) 100%);
  border: none;
  color: white;
  font-size: 16px;
  margin: 24px;
  transition: 0.125s all ease-in-out;
  border-radius: 10px;
  cursor: pointer;
}

.button canvas {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  background: linear-gradient(90deg,
      rgb(27, 221, 255),
      rgb(0, 191, 255),
      rgb(236, 27, 255));
  background-color: rgb(27, 221, 255);
  height: 3px;
  width: 125px;
  border-radius: 5px;
  transition: 0.5s all ease-in-out;
  opacity: 0.5;
}

.button:hover {
  background: radial-gradient(circle at center,
      rgba(11, 173, 210, 0.6) 20%,
      rgb(10, 40, 89) 95%);
  transform: scale(1.1);
  color: rgb(208, 0, 255);
  font-size: 20px;
  box-shadow: 5px 5px 15px rgba(251, 0, 255, 0.4);
}

.button:hover canvas {
  top: 18%;
  width: 190px;
  opacity: 1;
}

/* Backgound star particles */
.particle {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0.5;
  z-index: 10;
}

.SupportCanvas {
  position: absolute;
  perspective: 1000px;
}

.jumpParticle {
  position: absolute;
  border: rgb(0, 200, 255) 3px solid;
  border-radius: 50%;
  transform-style: preserve-3d;
  transform: rotateX(70deg);
  animation: jumopParticle 0.75s ease-in forwards;
}

/* .jumpParticle::after {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: black;
  left: 30%;
  border-radius: 50%;
} */

.button:focus:not(:active) {
  animation: click-glow 1s ease;
  color: white;
}

.button:focus:not(:active) canvas {
  background: linear-gradient(-90deg,
      rgb(27, 221, 255),
      rgb(0, 191, 255),
      rgb(236, 27, 255));
  width: 125px;
}

/* Game Settings called with settings button */

/* Gray or white background depending on selected button */
.ToggleActiveColor {
  background-color: rgba(255, 255, 255, 0.7);
}

.Menu_Settings {
  overflow-x: auto;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -12%);
  position: absolute;
  height: 125px;
  width: 145px;
  border: rgb(0, 200, 255) 2px solid;
  border-radius: 12px;
  background: radial-gradient(circle at 100%,
      rgba(0, 0, 0, 0.5) 10%,
      rgba(255, 0, 247, 0.6) 50%,
      rgba(255, 255, 255, 0.9) 65%,
      rgba(0, 0, 0, 0.6) 66%,
      rgba(10, 0, 70, 0.5) 80%);
  transition: all 0.25s ease-in-out;
  display: flex;
  gap: 60px;
  justify-content: flex-start;
  white-space: nowrap;
  scroll-behavior: smooth;
  padding-left: 40px;
  padding-right: 40px;
}

/* Size adjustment for Key display */
.ToggleMenuSettings {
  height: 200px;
  width: 200px;
}

.Settings_Category {
  cursor: pointer;
  position: relative;
  flex: 0 0 160px;
  height: 40px;
  padding: 10px;
  border-radius: 4px;
  border: 2px solid rgb(0, 221, 255);
  box-shadow: #00c8ff 0px 0px 8px;
  background-color: rgba(150, 150, 150, 0.7);
  font-size: 18px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: rgb(111, 0, 255) 2px 2px 3px;
  transition: all 0.3s ease-in-out;
}

.Settings_Category:hover {
  transform: scale(1.1);
  box-shadow: #ffffff 0px 0px 15px;
  color: rgb(111, 0, 255);
  text-shadow: rgb(255, 255, 255) -2px -2px 2px;
}

.Settings_Category:focus:not(:active) {
  animation: click-glow 0.75s ease;
}

.Toggle_KA {
  position: relative;
  border-radius: 4px;
  border: 2px solid rgb(0, 221, 255);
  box-shadow: #00c8ff 0px 0px 8px;
  background-color: transparent;
  font-size: 14px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: rgb(111, 0, 255) 2px 2px 3px;
  transition: all 0.2s ease-in-out;
  display: grid;
  gap: 10px;
  padding: 6px 8px 12px 8px;
}

.KA_Category {
  height: 25px;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid rgb(0, 221, 255);
  box-shadow: #00c8ff 0px 0px 5px;
  background-color: rgba(150, 150, 150, 0.7);
  color: rgb(255, 255, 255);
  padding: 4px 8px 4px 8px;
  transition: all 0.2s ease-in-out;
}

.KA_Category.ToggleActiveColor {
  background-color: rgba(255, 255, 255, 0.7);
}

.Menu_Loading_Animation {
  position: absolute;
  outline: olivedrab 3px solid;
  height: auto;
  width: auto;
}

/* Star background */
.star {
  position: fixed;
  pointer-events: none;
  background-color: white;
  /* height: 10px;
  width: 10px; */
  border-radius: 50%;
  z-index: -100;
  /* animation: glow 2.5s infinite; */
}

/* Game Box for the main game area */
.gameBox {
  position: absolute;
  /* height: 90dvh;
  width: 90dvw; */
  height: 700px;
  width: 1200px;
  image-rendering: pixelated;
  outline: rgb(255, 4, 226) 2px solid;
  z-index: 0;
  display: block;
  width: 800px;
  height: 450px;
  zoom: 1;
}

/* Game Over display */
#gameOver {
  position: absolute;
  font-size: 6vw;
  font-weight: 900;
  letter-spacing: 10px;
  text-transform: uppercase;
  background: linear-gradient(270deg, black, red, magenta, red, black, black);
  background-size: 600% 600%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: gradientFlow 8s ease infinite;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(12.5deg);
}

/* Game Info display */
#gameInfo {
  position: absolute;
  bottom: 25px;
  right: 25px;
  width: 150px;
  height: 140px;
  outline: #00c8ff 2px solid;
  font-size: 2vw;
  text-shadow: 0 0 5px rgb(0, 0, 0);
  color: white;
  transition: width 1s ease-in-out;
  font-size: clamp(1rem, 4vmin, 3rem);
}

#gameInfo div {
  margin: 10px;
}

/* Future plans: 
  Cool sun in space ;)
  background: radial-gradient(circle at 50%,
      rgba(0, 0, 0, 0.6) 10%,
      rgba(255, 0, 247, 0.7) 50%,
      rgba(115, 0, 0, 0.8) 60%,
      rgba(0, 0, 0, 0.9) 70%);
*/